/* TextFieldReadonly */
.textfieldreadonly_div {
    margin:10px;
    margin-bottom: 20px;
}
.textfieldreadonly_textfield {
    width: 80%;
}

/* BlocData */
.blocdata_image {
    width: 7%;
    padding: 1%;
}
.blocdata_div {
    text-align: left;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.blocdata_ligne1 {
    font-weight: bold;
    margin-bottom: 10px;
}
.blocdata_ligne2 {
    color: #9e9e9e;
    margin-top: 1px;
    font-size: smaller;
}
.blocdata_bouton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    background-color: rgba(219, 219, 219, 0.586);
    width: 75%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.blocdata_statut {
    height: 100px;
    width: 8px;
}

/* Erreur */
.erreur_div {
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    background-color: rgba(255, 0, 0, 0.2);
    width: 75%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}
.erreur_titre {
    font-weight: bold;
    margin-left: 50px;
}
.erreur_detail {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .textfieldreadonly_textfield{
        width: 90%;
    }
}   

/* Bloc5Images */
.bloc5images_div {
    width: 370px;
    margin-bottom: 200px;
    display: inline-block;
}
.bloc5images_textfield {
    width: 100%;
    height: 0;
}
.bloc5images_divimages {
    height: 100%;
    position: relative;
}
.bloc5images_img1 {
    top: 0%;
    left: 5%;
    height: 100%;
    position: absolute;
}
.bloc5images_img2 {
    top: 0%;
    left: 29%;
    height: 100%;
    position: relative;
}
.bloc5images_img3 {
    top: 140%;
    left: 5%;
    height: 100%;
    position: absolute;
}
.bloc5images_img4 {
    top: 140%;
    left: 60%;
    height: 100%;
    position: absolute;
}
.bloc5images_img5 {
    top: 70%;
    left: 33%;
    height: 100%;
    position: absolute;
}
