.titre {
  width: 30%;
  margin-left: 35%;
}

.header-onglet{
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: transparent;
}

.menu-onglets{
  width: 100%;
}

.content {
  padding-top: 200px;
}

.header{
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn-retour{
  border: none;
  cursor: pointer;
  background-color: transparent;
}


  @media screen and (max-width: 1024px) {
  .titre {
    width: 60%;
    margin-left: 13%;
  }
  .content {
    padding-top: 170px;
  }
}