.header-onglet{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.contenu-onglet {
    padding-top: 17%;
}

.titreonglet{
    display: flex;
    width: 75%;
    color: #00759C;
    font-size: x-large;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 30px;
    background-color: white;
}

.menu-onglets{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

  @media screen and (max-width: 1024px) {
    .contenu-onglet {
      padding-top: 170px;
    }
    .titreonglet{
        width: 90%; 
        font-size: large;
      }
  }