#statut {
    position: relative;
    top: -1px;
    max-width: 500px;
    width: 95%;
    margin: 30px auto;
}

.superpose {
    position: absolute;
}

#date{
    display: flex;
    width: 100%;
    justify-content: center; 
    margin: 0;
}

#img_statut_fond {
    z-index: 10;
    width:100%
}

#img_statut_etat {
    z-index: 11;

    /* Dimension et positionnement horizontal */
    width: auto;
    left:12%;

    /* Dimension et positionnement vertical */
    height: 80%;
    top: 10%;
}

#txt_statut_texte {
    z-index: 11;

    /* Dimension et positionnement horizontal */
    width: 50%;
    left: 50%;

    /* Dimension et positionnement vertical */
    height: 100%;
    top:20%;

    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.infos{
    width: 100%;
}


@media screen and (max-width: 1024px) {
    #statut {
        max-width: 85%;
    }
    #txt_statut_texte {
        top:15%;
    }
  }