.tabHistorique {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 10px;
}

.list-item-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    background-color: rgba(219, 219, 219, 0.586);
    width: 75%; 
    margin-bottom: 10px;  
    border-radius: 10px;
    overflow: hidden; 
  }

  .list-item-button .contenu {
    display: inline-block;
    vertical-align: middle;
  }

.contenu {
    text-align: left;
    margin-left: 10px;
  }

.item-image{
  width: 7%;
  padding: 1%;
}

.natureoperation {
  font-weight: bold;
  margin-bottom: 10px;
}

.dateoperation {
  color: #9e9e9e; 
  margin-top: 1px;
  font-size: smaller;
}

.headeroperations{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.headeroperations .nbresultat{
  font-style: italic;
  color: #9e9e9e;
}

.titreonglet{
  display: flex;
  width: 75%;
  color: #00759C;
  font-size: x-large;
  font-weight: bold;
  margin: 0%;
}

.statutoperation{
  background-color: #00CC40;
  height: 100px;
  width: 8px;
}


@media screen and (max-width: 1024px) {
  .item-image{
    width: 15%;
  }
  .list-item-button {
    width: 90%;
  }
  .headeroperations{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .titreonglet{
    display: flex;
    width: 90%;
    color: #00759C;
    font-size: x-large;
    font-weight: bold;
    margin: 0%;
  }
  }