.tabAPP {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.list-item-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    background-color: rgba(219, 219, 219, 0.586);
    width: 75%; 
    margin-bottom: 10px; 
    border-radius: 10px;
    overflow: hidden; 
  }

  .list-item-button .contenu {
    display: inline-block;
    vertical-align: middle;
  }

.contenu {
    text-align: left;
    margin-left: 10px;
  }

.item-image{
  width: 7%;
  padding: 1%;
}

.natureoperation {
  font-weight: bold;
  margin-bottom: 10px;
}

.dateoperation {
  color: rgb(158, 158, 158); 
  margin-top: 1px;
  font-size: smaller;
}

