.tab {
    height: 100%;
    min-height: 100vh;
}

.pdf {
    width: 100%;
    min-height: 100vh;
}

.titre_section {
    background-color: lightblue;
    text-align: left;
    padding: 15px;
    font-weight: bold;
}
.infosgeneral {
    width: 75%;
}

.bouton_fds {
    float: right;
}